@import "../../app/vars.module.scss";

.params__section {
  margin-top: 15px;
  border-left: 2px solid var(--primary);
  padding-inline: 10px;
  // padding-top: 8px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-right: 50px;
  position: relative;

  li {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    // grid-template-columns: 250px 10000px;

    label {
      width: 200px;
    }
  }
}

.description {
  position: absolute;
  transform: translateX(100%) translateY(-50%);
  background-color: var(--text);
  color: var(--background);
  padding: 10px;
  border-radius: 10px;
  right: 0px;
  top: -1rem;
  z-index: 10;
  width: 300px;
  pointer-events: none;

  transition: 0.1s linear all;

  &__parent {
    position: relative;
  }
}
