@import "./vars.module.scss";

.base {
  position: relative;
  overflow: hidden;

  color: var(--text);
  font-size: 2.5rem;
}

.bg {
  // position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background: url("/bg2.jpg") center/cover no-repeat;
  top: 0;
  left: 0;
  overflow: hidden;

  position: fixed;
  z-index: -2;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 106vw;
  position: relative;
  left: -3vh;
  overflow: hidden;

  &_decoration {
    -webkit-transform: skew(-3deg, 0deg);
    -moz-transform: skew(-3deg, 0deg);
    -o-transform: skew(-3deg, 0deg);
    transform: skew(-3deg, 0deg);

    position: absolute;
  }
}

.leftSide {
  min-height: 100vh;
  width: 40%;

  display: flex;
  flex-direction: column;

  &__up {
    height: 92vh;
    background-color: var(--background);
    opacity: 0.8;

    &_real {
      opacity: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }

  &__down {
    height: 8vh;
    background-color: var(--background);
    opacity: 0.2;

    &_real {
      padding-left: 50px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__submit {
      background-color: var(--primary);

      -webkit-transform: skew(-6deg, 0deg);
      -moz-transform: skew(-6deg, 0deg);
      -o-transform: skew(-6deg, 0deg);
      transform: skew(-6deg, 0deg);

      padding: 4px 10px;

      transition: 0.1s all linear;

      &:hover {
        background-color: transparent;

        border: 2px var(--primary) solid;
      }
    }
  }
}

.rightSide {
  min-height: 100vh;
  width: 60%;

  display: flex;
  flex-direction: column;

  &__up {
    background-color: var(--background);
    height: 5vh;

    opacity: 0.5;

    &_real {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-block: 5px;

      font-size: 2rem;
      color: var(--background);

      p {
        background-color: #565656;
        color: transparent;
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      }
    }
  }

  &__down {
    background-color: var(--text);
    height: 95vh;

    opacity: 0.2;

    &_real {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-left: 40px;
      margin-right: 140px;
    }
  }
}

.real {
  background-color: rgba($color: #000000, $alpha: 0);
  opacity: 1;
}

.display {
  width: 80vh;
  aspect-ratio: 1;
  // height: 80vh;
  border-radius: 20px;
  background-color: rgba(var(--background--rgb), 0.6);
  opacity: 1;
  border-bottom-right-radius: 0;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  color: white;
  padding-right: 30px;
  padding-top: 20px;

  &::before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    content: "";
    z-index: -1;

    mask-image: linear-gradient(to top, #000, #000), linear-gradient(to top, #000, #000);
    mask-size:
      100% 100%,
      98% 98%;
    mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: subtract;

    border-radius: inherit;
    border-bottom-right-radius: 20px;
    background-color: var(--primary);
    opacity: 0.7;
  }
}

.params {
  width: 100%;
  padding-left: 50px;

  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__title {
    font-weight: 200;

    &_main {
      margin-block: 30px;
      position: relative;

      &::after {
        margin: auto;
        height: 2px;
        width: 10vw;

        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%) scaleX(3);
        content: "";
        background-color: var(--primary);

        border-radius: 4px;
      }
    }
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--text);
  box-shadow: inset 0px 5px 10px rgba(var(--background--rgb), 0.6);

  cursor: pointer;

  p {
    transition: 0.1s all linear;
  }

  .darkMode {
    transition: 0.1s all linear;
  }

  &:hover {
    p {
      color: var(--primary);
    }

    .darkMode {
      fill: var(--primary);
    }
  }
}

.ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  padding-inline: 10px;
  height: 35px;
  border-radius: 20px;
  background-color: var(--text);

  box-shadow: inset 0px 5px 10px rgba(var(--background--rgb), 0.6);

  p {
    display: inline;
    vertical-align: top;
    transform: translateY(-10%);

    span {
      background-color: #565656;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;

      cursor: pointer;
    }
  }
}

.languageActive {
  color: var(--primary) !important;
  position: relative;

  &::after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;

    background-color: var(--primary);
  }
}
