@import "./vars.module.scss";

.base {
  position: relative;
  overflow: hidden;

  color: $text;
  font-size: 2.5rem;
}

.bg {
  // position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background: url("/bg2.jpg") center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  overflow: hidden;

  position: fixed;
  z-index: -2;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 106vw;
  position: relative;
  left: -3vh;
  overflow: hidden;

  &_decoration {
    -webkit-transform: skew(-3deg, 0deg);
    -moz-transform: skew(-3deg, 0deg);
    -o-transform: skew(-3deg, 0deg);
    transform: skew(-3deg, 0deg);

    position: absolute;
  }
}

.leftSide {
  min-height: 100vh;
  width: 40%;

  display: flex;
  flex-direction: column;

  &__up {
    height: 95vh;
    background-color: $background;
    opacity: 0.8;

    &_real {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }

  &__down {
    height: 5vh;
    background-color: $text;
    opacity: 0.4;
  }
}

.rightSide {
  min-height: 100vh;
  width: 60%;

  display: flex;
  flex-direction: column;

  &__up {
    background-color: $background;
    height: 5vh;

    opacity: 0.5;

    &_real {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-block: 5px;

      font-size: 2rem;
      color: $background;

      p {
        background-color: #565656;
        color: transparent;
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      }
    }
  }

  &__down {
    background-color: $text;
    height: 95vh;

    opacity: 0.2;

    &_real {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-left: 40px;
      margin-right: 140px;
    }
  }
}

.real {
  background-color: rgba($color: #000000, $alpha: 0);
  opacity: 1;
}

.display {
  width: 80vh;
  height: 80vh;
  border-radius: 20px;
  background-color: rgba($color: $background, $alpha: 0.6);
  opacity: 1;
  border-bottom-right-radius: 0;

  position: relative;
  // z-index: 1;

  &::before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    content: "";
    z-index: -1;

    mask-image: linear-gradient(to top, #000, #000), linear-gradient(to top, #000, #000);
    mask-size:
      100% 100%,
      98% 98%;
    mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: subtract;

    // mask-image: linear-gradient(to top, #000, #000), linear-gradient(to top, #000, #000);
    // mask-size:
    //   98% 98%,
    //   100% 100%;
    // mask-repeat: no-repeat;
    // mask-composite: subtract;

    border-radius: inherit;
    border-bottom-right-radius: 20px;
    background-color: $primary;
    opacity: 0.7;
  }
}

.params {
  width: 100%;
  padding-left: 50px;
  &__title {
    font-weight: 200;

    &_main {
      margin-block: 30px;
      position: relative;

      &::after {
        margin: auto;
        height: 2px;
        width: 10vw;

        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%) scaleX(3);
        content: "";
        background-color: $primary;

        border-radius: 4px;
      }
    }
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $text;
  box-shadow: inset 0px 5px 10px rgba($color: $background, $alpha: 0.6);

  cursor: pointer;

  p {
    transition: 0.1s all linear;
  }

  .darkMode {
    transition: 0.1s all linear;
  }

  &:hover {
    p {
      color: $primary;
    }

    .darkMode {
      fill: $primary;
    }
  }
}

.elipse {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  padding-inline: 10px;
  height: 35px;
  border-radius: 20px;
  background-color: $text;

  box-shadow: inset 0px 5px 10px rgba($color: $background, $alpha: 0.6);

  p {
    display: inline;
    vertical-align: top;
    transform: translateY(-10%);

    span {
      background-color: #565656;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;

      cursor: pointer;
    }
  }
}

.languageActive {
  color: $primary !important;
  position: relative;

  &::after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;

    background-color: $primary;
  }
}

// @media (max-width: "1350px") {
//   .main {
//     // background: url("/bg2.jpg") center 100% no-repeat;
//   }
// }
